<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlatformMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F466ECA1C4CCAE7007434B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F466EE61C4CCAE8007434B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F466EF11C4CCAE8007434B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
